<div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-6 mx-auto">
  
  
  
             <div class="card"  style="width: 20%; background-color: #03324c ; color: #f2f8fc;">
  
                 <div class="card-body">

                  <!-- (ngSubmit)="add()" -->

<form>
    <h3 style="text-align: center;">Add an order</h3>
    <div >
      <label class="center" for="description">Description :</label>  &#20; &#20; 
      <input type="text" class="center" [(ngModel)]="newOrder.description" />
    </div>
    <br/>
    <div class="center">
      <label for="restaurant">Restaurant :</label>   &#20; &#20; &#20;
      <input type="text" [(ngModel)]="newOrder.restaurant" />
    </div>
    <br/>
    <div class="center">
      <label for="rating"> Rating (1-5) : </label>  &#20;
      <input type="number"  min="1" max="5" [(ngModel)]="newOrder.rating" />
    </div>
    <br/>
    <div class="center">
    <label for="orderBoolean"> Order Again </label>  &#20; &#20;
    <input type="checkbox" value="true" [(ngModel)]="newOrder.orderAgain"/>
    </div>
   
    <!-- <button>Submit</button> -->
    <button (click)="addOrder()">Submit</button>
  </form>
 
  
  <br/> <br/>

              </div>
            </div>
        </div>
    </div>
</div>
