
<table style=" margin-left : 100px">
    <thead>
        <tr>
            <th>Description</th>    
            <th>Restaurant</th>
            <th>Rating</th>
            <th>Order Again?</th>
            <th></th>
        </tr>
    </thead>
   
    <tbody>
       
        <tr *ngFor="let order of showOrders; index as i"> 
          
                <td>{{order.description}}</td>
                <td>{{order.restaurant}}</td>
                <td>{{order.rating}}</td>  
                <!-- <td>{{order.orderAgain}}</td>   -->

                <td *ngIf="order.orderAgain" >✓</td>
                <td *ngIf="!order.orderAgain">X</td>
                <button (click)="deleteOrder(order.id)" id="butttonStyle" ><fa-icon [icon]="faTrashCan"></fa-icon></button>
        </tr>
    </tbody>

</table>


<!-- <button (click)="onClick()">Another Click Me!</button> -->